.blank_box{
  width: 100%;
  height: 10px;
}
.site-heading h1{
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
}
#subdusi{
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
}

/* search */
#local-search-result{ /* div */
	background:rgba(245,245,245,0.9);
	margin:0px;
	padding:0px;
	overflow-y:scroll;
	height:auto;
	max-height:655px;
}
#local-search-result::-webkit-scrollbar{
	display:none;
}
.search-result-list{ /* ul */
	list-style: none; 
	margin:0px;
	padding:3px 4px 0px 4px;
}
.search-result-list li{
	margin-bottom:15px;
}
#local-search-result .search-result-title{ /* a */
	list-style: none; 
	font-weight:bold;
	margin:0px;
	padding:0px;
	color:rgb(121,187,209)!important;
}
#local-search-result .search-result-title:hover{
	color:rgb(56,132,158)!important;
}
.search-result{ /* p */
	margin:0px;
	padding:0px;
	font-size:12px;
}






