.blank_box{
  width: 100%;
  height: 10px;
}
.site-heading h1{
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
}
#subdusi{
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
}

/* search */
.search-article{
	width:100%;
	height:40px;
	border:1px solid rgba(238,238,238,0.9);
	border-radius:20px;
	margin:0px;
	padding:2px 2px 4px 0px;
	text-align:center;
	line-height:36px;
}
.search-article input{
	border:0px;
	text-align:center;
	height:29px;
	line-height:29px;
	margin:0px;
	padding:0px;
}
.search-article input:focus{
	outline:none;
}
.search-img{
	float:right;
	text-align:center;
	margin:0px;
	padding:0px;
	height:33px;
	width:33px;
	cursor:pointer;
}
.search-img img{
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
	cursor:pointer;
}